body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.card-body {
  height: 270px;
}
.user-name {
  color: #007bff;
  position: absolute;
  top: 7px;
  right: 130px;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  right: 236px;
  border: 1px solid #007bff;
}

.avatar-div  {
  height: 163px;
}

.avatar-div-ananswered {
  height: 278px;
}

.avatar-home, .avatar-question, .avatar-ananswered {
  width: 161px;
  height: 161px;
  border-radius: 50%;
  position: absolute;
  top: 156px;
  right: 317px;
}

.avatar-question {
  top: 92px;
  right: 322px;
}

.avatar-ananswered {
  top: 135px;
  right: 322px;
}

.log-out-container {
  position: relative;
  top: -66px;
}

.nav-home {
  width: 50%;
  margin: auto;
}
.btn-question {
  width: 101%;
  margin-left: 9px;
}

.card-body-ananswered  {
  height: 364px;
}