body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.card-body {
  height: 270px;
}
.user-name {
  color: #007bff;
  position: absolute;
  top: 7px;
  right: 130px;
  width: 125px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: 271px;
}
.avatar-leaderboard {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.avatar-div  {
  height: 163px;
  position: relative;
}

.avatar-div-ananswered {
  height: 278px;
}

.avatar-home, .avatar-question, .avatar-ananswered {
  width: 161px;
  height: 161px;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  right: 45px;
}

.avatar-question {
  top: 8px;
  left: 91px;
}

.avatar-ananswered {
  width: 233px;
  height: 233px;
  top: 103px;
  left: 92px;
}

.log-out-container {
  position: relative;
  top: -66px;
}

.nav-home {
  width: 50%;
  margin: auto;
}
.btn-question {
  width: 101%;
  margin-left: 9px;
}

.card-body-ananswered  {
  height: 364px;
}

.optionOne {
  text-align: center;
  display: block;
  width: 267px;
  padding: 0 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}